$color_1: white;
$color_2: black;
$color_3: #fff;
$font_family_1: "Avenir Next", "Avenir", sans-serif;
$background_color_1: lightseagreen;
$background_color_2: teal;
$background_color_3: #ddd;
$background_color_4: grey;

/*
#button-facebook i:hover {    
   background: #3b5998;
   color: #fff;
   border-radius: 20px;
   width: 59px;
   margin-left: 0px;
   
 
} 

#button-instagram i:hover{
   
    border-radius: 20px;
    color: #fff;    
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
   
 
}
#button-linkedin i:hover{
    background: #0077B5;
    color: #fff;
    border-radius: 20px;
}
#button-pinterest i:hover{
background:  #c8232c ;
color: #fff;
border-radius: 20px;

}
#button-twitter i:hover{
    background: #38A1F3;
    color: #fff;
    border-radius: 20px;
}

.leftside li:nth-child(1){
    margin-left: 5px;
    border-radius: 30%;
}
*/
/*
.cf ul {
	-webkit-font-smoothing: antialiased;
	list-style: none;
	margin-right: 0;
	padding: 0;
	width: 100%;
}
.cf li {
	
    position: relative;
}
.cf a {
	color: white;
	display: block;
	font: normal 20px/50px Arial, Helvetica, sans-serif;
    padding: 0px;
    margin-top: 17%;
	text-align: center;
    text-decoration: none;
    
	
}

.cf li:hover a {
    color: white;
    text-decoration: none;
    background: transparent;
}
.cf li ul {
	
	position: absolute;
	top: 15px;
	visibility: hidden;
	

}
.cf li:hover ul {
	
	top: 50px;
	visibility: visible;
}

.cf li ul a:hover {
    
    opacity: 0.5;
    
}
#link1{
    background: #0077B5;
}
*/
/* Show the dropdown menu on hover */
body {
	margin: 0;
	padding: 0;
	color: $color_1;
	font-family: $font_family_1;
	z-index: 0;
	overflow-x: hidden;
}
.navbar-dark {
	background-color: $background_color_1;
	height: 70px;
}
.navbar-brand {
	padding-inline-end: 40px;
}
.nav-item {
	padding-right: 10px;
}
#Navbar {
	background: lightseagreen;
	min-width: 100vh;
	position: relative;
}
.carousel {
	background: #303030;
	.carousel-item {
		height: 800px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			min-height: 300px;
			margin-top: 60px;
		}
	}
}
.bs-example {
	margin: 0px;
}
.footer {
	background-color: $background_color_2;
	margin: 0px auto;
	padding-top: 50px;
}
.leftside {
	padding-left: 0px;
	margin-left: 0px;
	top: 25%;
	position: fixed;
	z-index: 999;
	li {
		list-style-type: none;
		margin-left: 0px;
		transition: .1s;
		padding-left: 2px;
		position: relative;
		margin-top: 10px;
		i {
			font-size: 25px;
			color: $color_2;
			margin-left: 0px;
			padding: 20px;
		}
		&:hover {
			padding-left: 10px;
		}
	}
}
ul {
	list-style: none;
	border: none;
	outline: none;
}
.dropdown {
	button {
		color: $color_1;
		opacity: 0.5;
		border: teal;
		padding-top: 8px;
		outline: none;
		&:hover {
			opacity: 1;
			color: $color_1;
			border: none;
			outline: none;
		}
	}
	.btn {
		border: none;
		outline: none;
	}
	background: transparent;
	color: $color_3;
	text-decoration: none;
	border: none;
	outline: none;
	a {
		&:hover {
			opacity: 0.7;
			border: none;
			text-decoration: none;
			outline: none;
		}
	}
	&:hover {
		.dropdown-menu {
			display: block;
		}
		.btn {
			background-color: $background_color_4;
		}
	}
}
.media-body {
	padding-top: 40px;
}
.image-circle {
	border-radius: 50%;
}
.dropdown-menu {
	a {
		&:hover {
			background-color: $background_color_3;
		}
	}
}
