$color_1: white;
$color_2: black;
$color_3: #fff;
$color_4: yellow;
$font_family_1: "Avenir Next", "Avenir", sans-serif;
$font_family_2: Verdana, Geneva, Tahoma, sans-serif;
$font_family_3: 'Times New Roman', Times, serif;
$background_color_1: white;
$background_color_2: #182a61;
$background_color_3: #000033;
$background_color_4: #111e6c;
$background_color_5: rgb(167, 164, 164);

/*
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }
*/
body {
	margin: 0;
	padding: 0;
	color: $color_1;
	font-family: $font_family_1;
	z-index: 0;
	overflow-x: hidden;
	background-color: $background_color_1 !important;
}
.navbar-dark {
	background-color: $background_color_2;
}
.navbar-nav {
	li {
		margin-left: 71px;
		padding: 5px;
	}
}
.navbar-text {
	padding-top: 100px;
	padding: 100px;
	margin-top: 6px;
	cursor: pointer;
}
.navbar-brand {
	padding-left: 15px;
}
.leftside {
	padding-left: 0px;
	margin-left: 0px;
	top: 30%;
	position: fixed;
	z-index: 999;
	background: rgb(211,211,211,0.7);
	border-radius: 5px;
	li {
		list-style-type: none;
		margin-left: 0px;
		transition: .1s;
		padding-left: 0px;
		position: relative;
		margin-top: 10px;
		i {
			font-size: 25px;
			color: $color_2;
			margin-left: 0px;
			padding: 20px;
			padding-left: 12px;
		}
		&:nth-child(1) {
			margin-left: 0px;
			border-radius: 0%;
			margin-top: 0px;
		}
	}
}
#button-facebook {
	i {
		&:hover {
			background: #3b5998;
			color: $color_3;
			border-radius: 0px;
			width: 100%;
			height: 100%;
		}
	}
}
#button-instagram {
	i {
		&:hover {
			border-radius: 0px;
			color: $color_3;
			background: #d6249f;
			background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
			width: 100%;
		}
	}
}
#button-linkedin {
	i {
		&:hover {
			background: #0077B5;
			color: $color_3;
			border-radius: 0px;
			width: 100%;
		}
	}
}
#button-pinterest {
	i {
		&:hover {
			background: #c8232c;
			color: $color_3;
			border-radius: 5px;
			width: 100%;
		}
	}
}
#button-twitter {
	i {
		&:hover {
			background: #38A1F3;
			color: $color_3;
			border-radius: 5px;
		}
	}
}
ul {
	list-style: none;
	border: none;
	outline: none;
}
.media-body {
	padding-top: 50px;
	text-align: left;
	padding-left: 30px;
}
#counterbg {
	background-color: $background_color_3;
	background-image: linear-gradient(to left,#000c18,#00162b,#001f3f);
	padding: 80px;
	border-radius: 0px;
	display: inline-block;
	margin-top: 40px;
}
.counter {
	background-color: $background_color_3;
	padding: 80px;
	border-radius: 0px;
	margin-top: 15px;
	display: inline-block;
}
.count-title {
	font-size: 40px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}
.count-text {
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	color: $color_3;
}
.count-number {
	color: $color_3;
}
.fa-2x {
	margin: 0 auto;
	float: none;
	display: table;
	color: $color_4;
}
#video {
	margin-top: 40px;
	padding: 10px;
	margin-bottom: 40px;
}
.underline {
	font-size: 40px;
	margin-top: 20px;
	text-decoration: underline;
	text-decoration-color: yellow;
	text-decoration-style: solid;
	text-underline-position: under;
	font-family: $font_family_2;
}
.carousel-inner {
	img {
		width: 100%;
		height: 100%;
	}
}
.carousel {
	.carousel-indicators {
		li {
			border-radius: 50%;
			width: 15px;
			height: 15px;
			background-color: $background_color_2;
		}
	}
}
.carousel-item {
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.6);
	}
}
.carousel-caption {
	text-align: center;
	height: 55%;
}
#carousel-button {
	background: #FFA501;
	color: $color_2;
}
#rotate {
	position: fixed;
	top: 400px;
	width: 200px;
	height: 30px;
	margin-right: 0%;
	left: 0;
	float: right;
	background: #182a61;
	font-family: $font_family_3;
	font-size: 80px;
	border-radius: 5px;
	color: $color_1;
	font-size: 18px;
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
#right-button {
	color: $color_1;
	font-size: 18px;
}
.footer {
	background-color: $background_color_4;
	margin: 0px auto;
	padding: 20px 0px;
	&:after {
		background: rgba(0,0,0,0.6);
	}
}
#footer-link {
	color: $color_1;
}
.img-contact {
	display: block;
}
.thumbnail {
	position: relative;
	display: inline-block;
}
.container-contact {
	position: relative;
	width: "1100";
	height: "500";
	margin: 0 auto;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.6);
	}
}
.footer-se {
	background: black;
	color: $color_1;
	font-size: 13px;
}
.form-control-sm {
	height: 20px !important;
	width: 220px !important;
	font-size: 14px !important;
}
.btn-xl {
	width: 40%;
	height: 20px;
}
#content-heading {
	margin-top: 100px;
}
#content-image {
	background-color: $background_color_5;
	margin-top: 40px;
}
#content-sub-head {
	padding-left: 30px;
	padding-right: 40px;
	text-align: center;
}
#content-text-section {
	background-image: linear-gradient(to bottom,rgb(216, 202, 202),#FFFFFF);
	margin-top: 40px;
}
#content-text {
	padding-left: 30px;
	padding-right: 40px;
	text-align: justify;
}
#block-quicklinks-menu {
	color: $color_1;
	font-size: 20px;
}
.quick-links {
	padding-top: 10px;
}
.footer-form {
	padding-top: 40px;
	padding-right: 0px;
	.btn {
		background: #FFA501;
		color: $color_2;
		font-size: 14px;
		padding-bottom: 24px;
	}
}
.footer-social-btn {
	padding-top: 5px;
	a {
		color: $color_1;
		font-size: 10px;
		&:hover {
			color: $color_2;
			background: #FFA501;
		}
	}
}
.footer-copyright {
	padding-top: 10px;
}
.row-content {
	padding-bottom: 30px;
	padding-top: 5px;
}
#contact-form-left {
	background-image: linear-gradient(to bottom,#E8E8E8,#FFFFFF);
	margin-top: 100px;
}
#contact-heading {
	padding-left: 48px;
	padding-top: 20px;
	text-align: left;
	padding-right: 40px;
}
#contact-sub-head {
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 40px;
}
#form-details {
	margin-left: 60px;
}
#placeholder {
	margin-left: 55px;
}
#contact-form-right {
	background-image: linear-gradient(to bottom,#F5F5F5,#FFFFFF);
	margin-top: 100px;
}
#form-content {
	padding-top: 20px;
}
#contact-details {
	padding-top: 30px;
	font-size: 30px;
	text-align: right;
}
@media (max-width: 500px) {
	.send-us {
		margin-right: 60px;
	}
	.carousel-caption {
		h2 {
			font-size: 20px;
			margin-bottom: 8px;
			margin-top: 80px;
			padding-right: 10px;
		}
		p {
			font-size: 20px;
			margin-bottom: 8px;
			margin-top: 20px;
			padding-right: 3px;
		}
	}
}
@media (max-width: 700px) {
	.carousel-item {
		img {
			min-width: 900px;
		}
	}
}
@media (max-width: 768px) {
	.leftside {
		display: none;
	}
}
@media (max-width: 1224px) {
	.rightside {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	.row {
		display: flex;
	}
	.column {
		flex: 1%;
	}
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
