body
{
  margin: 0;
  padding:0;
  color: white;
  font-family: "Avenir Next", "Avenir", sans-serif;
  z-index: 0;
  overflow-x: hidden; 
  background-color: white !important;
}
.navbar-dark {
    background-color: #182a61;
}

.navbar-nav li {
  margin-left: 71px;
  padding: 5px;}
.navbar-text{
    padding-top: 100px;
    padding: 100px;
    margin-top: 6px; 
    cursor: pointer;  
}

.navbar-brand{    
    padding-left: 15px;
}

.leftside{
    padding-left: 0px;
    margin-left: 0px;
    top: 30%;
    position: fixed;
    z-index: 999;
    background:rgb(211,211,211,0.7);
    border-radius: 5px;
}
.leftside li{
    list-style-type: none;
    margin-left: 0px;
    transition: .1s;
    padding-left: 0px;
    position: relative;
    margin-top: 10px;   
}
.leftside li i{
    font-size: 25px;
    color: black;
    margin-left: 0px;
    padding: 20px;
    padding-left: 12px;
}

#button-facebook i:hover {    
   background: #3b5998;
   color: #fff;
   border-radius: 5px;
   width: 100%;
   height: 100%;
 
} 

#button-instagram i:hover{   
    border-radius: 0px;
    color: #fff;    
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    width: 100%;
 
}

#button-linkedin i:hover{
    background: #0077B5;
    color: #fff;
    border-radius: 0px;
    width: 100%;
}
#button-pinterest i:hover{
background:  #c8232c ;
color: #fff;
border-radius: 5px;
width: 100%;

}
#button-twitter i:hover{
    background: #38A1F3;
    color: #fff;
    border-radius: 0px;
}


.leftside li:nth-child(1){
    margin-left: 0px;
    border-radius: 0%;
    margin-top: 0px;
}

ul{
    list-style: none;
    border: none;
    outline: none;
   
}

.media-body{
    padding-top: 50px;
    text-align: left;
    padding-left: 30px;
}


.image-circle{
    border-radius: 50%;
    margin-left:  100px;
    width: auto;
    height: auto;
    
}


.counter {
    background-color: #001233;
    padding: 80px 80px;
    border-radius: 0px;
    margin-top: 15px;
   
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}
.count-number{
    color: #fff;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: yellow;
}

#video{
    margin-top: 30px;
    
    padding: 10px;
}

.underline{
    font-size: 40px;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
    text-underline-position: under;
    font-family: 'Courier New', Courier, monospace;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel .carousel-indicators li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color:#182a61;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }

.carousel-caption{
    text-align: center;
    height: 55%;

}

@media (max-width: 500px) {
    .carousel-caption h2{
        font-size: 15px;
        margin-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .leftside {
        display: none;
    }
}

#rotate{

position: fixed;
top:400px;
width:200px;
height:30px;
margin-right: 0%;

left: 0;
float: right;
background:#182a61;
font-family: 'Times New Roman', Times, serif;
font-size: 80px;
border-radius: 5px;

    
-ms-transform:rotate(90deg); /* IE 9 */
-moz-transform:rotate(90deg); /* Firefox */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
-o-transform:rotate(90deg); /* Opera */}

@media (max-width: 1224px) {
    .rightside {
        display: none;
    }
}

.footer {
    background-color:  #182a61;
    margin: 0px;
    padding-top: 30px;
    color: #fff;

}