body
{
  margin: 0;
  padding:0;
  color: white;
  font-family: "Avenir Next", "Avenir", sans-serif;
  z-index: 0;
  overflow-x: hidden; 
  background-color: white !important;
}
.navbar-dark {
    background-color: #182a61;
}

.navbar-nav li {
  margin-left: 71px;
  padding: 5px;}
.navbar-text{
    padding-top: 100px;
    padding: 100px;
    margin-top: 6px; 
    cursor: pointer;  
}

.navbar-brand{    
    padding-left: 15px;
}

.leftside{
    padding-left: 0px;
    margin-left: 0px;
    top: 30%;
    position: fixed;
    z-index: 999;
    background:rgb(211,211,211,0.7);
    border-radius: 5px;
}
.leftside li{
    list-style-type: none;
    margin-left: 0px;
    transition: .1s;
    padding-left: 0px;
    position: relative;
    margin-top: 10px;   
}
.leftside li i{
    font-size: 25px;
    color: black;
    margin-left: 0px;
    padding: 20px;
    padding-left: 12px;
}

#button-facebook i:hover {    
   background: #3b5998;
   color: #fff;
   border-radius: 0px;
   width: 100%;
   height: 100%;
 
} 

#button-instagram i:hover{   
    border-radius: 0px;
    color: #fff;    
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    width: 100%;
 
}

#button-linkedin i:hover{
    background: #0077B5;
    color: #fff;
    border-radius: 0px;
    width: 100%;
}
#button-pinterest i:hover{
background:  #c8232c ;
color: #fff;
border-radius: 5px;
width: 100%;

}
#button-twitter i:hover{
    background: #38A1F3;
    color: #fff;
    border-radius: 5px;
}


.leftside li:nth-child(1){
    margin-left: 0px;
    border-radius: 0%;
    margin-top: 0px;
}

ul{
    list-style: none;
    border: none;
    outline: none;
   
}

.media-body{
    padding-top: 50px;
    text-align: left;
    padding-left: 30px;
}



#counterbg{
    background-color: #000033;
    background-image: linear-gradient(to left,#000c18,#00162b,#001f3f);
    padding: 80px;
    border-radius: 0px;
    
    display: inline-block;
    margin-top:40px;
}

.counter {
    background-color: #000033;
    padding: 80px;
    border-radius: 0px;
    margin-top: 15px;
    display: inline-block;
   
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}
.count-number{
    color: #fff;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: yellow;
}

#video{
    margin-top: 40px;
    
    padding: 10px;
    margin-bottom: 40px;
}

.underline{
    font-size: 40px;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
    text-underline-position: under;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel .carousel-indicators li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color:#182a61;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }

.carousel-caption{
    text-align: center;
    height: 55%;

}

@media (max-width: 500px) {
    .send-us{
       margin-right: 60px;
       
        
    }
}

@media (max-width: 700px) {
    .carousel-item img {
        min-width: 900px;
        
    }
}
@media (max-width: 500px) {
    .carousel-caption h2{
        font-size: 20px;
        margin-bottom: 8px;
        margin-top: 80px;
        padding-right: 10px;
    }
}
@media (max-width: 500px) {
    .carousel-caption p{
        font-size: 20px;
        margin-bottom: 8px;
        margin-top: 20px;
        padding-right: 3px;
    }
}
#carousel-button{
    background:#FFA501;
     color:black;

}
@media (max-width: 768px) {
    .leftside {
        display: none;
    }
}

#rotate{

position: fixed;
top:400px;
width:200px;
height:30px;
margin-right: 0%;

left: 0;
float: right;
background:#182a61;
font-family: 'Times New Roman', Times, serif;
font-size: 80px;
border-radius: 5px;
color:white;
font-size: 18px;
    
-ms-transform:rotate(90deg); /* IE 9 */
-moz-transform:rotate(90deg); /* Firefox */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
-o-transform:rotate(90deg); /* Opera */}

@media (max-width: 1224px) {
    .rightside {
        display: none;
    }
}
#right-button{
    color:white;
    font-size: 18px;
}

.footer {
    background-color: #111e6c;
  margin: 0px auto;
  padding: 20px 0px; 

}
.footer:after{
    background:rgba(0,0,0,0.6);
}
#footer-link{
    color: white;
}
/*
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }
*/
@media screen and (min-width: 1024px) {
    .row {
        display: flex;
    }
    
    .column {
        flex: 1%;
    }
}
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } 
 

  .img-contact {
    display: block;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.container-contact {
    position: relative; 
    width:"1100";
     height:"500" ;/* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  .container-contact:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }


  
 
 .footer-se{
    background:black;
    color: white;
    font-size: 13px;
  

 }
 .form-control-sm{
    

        height: 20px !important;
        
        width: 220px !important;
        
        font-size: 14px !important;
        
        
 } 

 
 .btn-xl {
  
  
    width:40%;   
    height: 20px;
}

#content-heading{
    margin-top:100px;
}
#content-image{
 background-color:rgb(167, 164, 164);
 margin-top: 40px;
}
#content-sub-head{
    padding-left:30px;
    padding-right: 40px;
    text-align: center;
}
#content-text-section{
     background-image: linear-gradient(to bottom,rgb(216, 202, 202),#FFFFFF);
     margin-top: 40px;
}
#content-text{
   padding-left:30px;
   padding-right: 40px;
   text-align: justify;
}
#block-quicklinks-menu{
    color:white;
    font-size:20px;
}

.quick-links{
    padding-top:10px;
}
.footer-form{
    padding-top:40px;
    padding-right: 0px;
}
.footer-form .btn{
   background:#FFA501;
   color:black;
   font-size: 14px;
   padding-bottom: 24px;
}
.footer-social-btn{
   padding-top:5px;
}
.footer-social-btn a {
    color:white;
    font-size: 10px;
}
.footer-social-btn a:hover {
    color:#FFA501;
  
    background: transparent;
}
.footer-copyright{
    padding-top:10px;
}
.row-content{
    padding-bottom:30px;
    padding-top: 5px;
}
#contact-form-left{
    background-image: linear-gradient(to bottom,#E8E8E8,#FFFFFF);
    margin-top: 100px;
}
#contact-heading{
    padding-left:48px;
    padding-top: 20px;
    text-align: left;
    padding-right: 40px;
}
#contact-sub-head{
    padding-top:30px;
    padding-left: 60px; 
    padding-right: 40px;
}

#form-details{
    margin-left:60px;
}
#placeholder{
    margin-left:55px;
}
#contact-form-right{
    background-image: linear-gradient(to bottom,#F5F5F5,#FFFFFF);
    margin-top: 100px;
}
#form-content{
    padding-top:20px;
}
#contact-details{
    padding-top:30px;
    font-size:30px;
    text-align: right;
}